body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}


tables.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.dataframe th {
    background-color: #68d2e1;
    color: white;
}



tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}

.head {
    float: left;
    display: inline;
}
.uarr {
    width: 10px;
    float: right;
    display: inline;
    cursor: hand;
    cursor: pointer;
    cursor: hand;
}
.darr {
    width: 10px;
    float: right;
    display: inline;
    cursor: pointer;
    cursor: hand;
}
.footcell {
    clear: both;
}