<!DOCTYPE html>
<html lang="en">
<title>Selenzy | Home</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style_form.css') }}">
<body>
	<div style="text-align:center">
	<h1>Selenzy</h1>
	<h2>Reaction (.rxn) file upload</h2>
	<form action="uploader" method="POST" enctype = "multipart/form-data">
		<input type="file" name="file"/>
		<input type="submit" value="Upload"/> <br>
		<h3> Options: </h3>
		Targets (default: 20): <input type="number" name="targets" value="20"/><br>
		Reaction SMARTS: <input type="text" name="smarts"/><br>
		Use only consensus reaction direction: <input type="checkbox" name="direction"/>
		No MSA (faster): <input type="checkbox" name="noMSA"/>
	</form>

	</div>
</body>
</html>
